body,
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: var(--base);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'calt', 'liga', 'hist', 'onum', 'pnum';

  overflow: hidden;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}